.my_class{
    color: orangered;
}
.second_class{
    background-color: blueviolet;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-clr: orangered;
}

.card{
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--main-clr);
    border-radius: 30px;
    background-color: cadetblue;
    padding: 20px;
}

.card_wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 500px){
    .card{
        background-color: pink;
    }
}